*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    position: absolute;
    
}
.navbar{
    width: 1800px;
    height: 75px;
    margin: auto;
}

.menu{
    float: left;
    width: 400px;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.content{
    padding-left: 30px;
    margin-top: 13%;
    height: auto;
    color: #fff;
    position: relative;
}

#container1{
    height: 200px;
    width: 300px;
    margin-top: -10px;
    margin-left: 40%;
    
    position: absolute;
    border: 1px solid #9fa0a1;
    border-radius: 15px;
    
}
#container1 h1 {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    color: #fff;
 
    left: 35%;
}
#buttons{
    height: 50px;
    width: 260px;
    position: absolute;
    bottom:10%;
    left: 20px;
}
#buttons button{
    height: 50px;
    width: 120px;
    cursor: pointer;

}
#increment {
    position: absolute;
    right: 0;
    background: rgb(0, 86, 110);
    color: #e2ebf4;
    font-size: x-large;
}
#decrement{
    position: absolute;
    font-size: xx-large;
    background: yellow;   
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -50px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: rgb(174, 174, 174);
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: rgb(255, 255, 255);
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

.middle{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bt{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 10px;
}
.bt:hover{
    background-color: #fff;
    color: #000;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 20px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 42px;
    float: right;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* .containers{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.containers ul {
    display: flex;
}
.containers ul li{
    list-style: none;
}
.containers ul li div{
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.ring{
    width: 200px;
    height: 200px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: #ff00ee;
    animation: rotate 2s linear infinite;

}
.ring:nth-child(2){
    border-right-width: 8px;
    border-color: #05ffff;
    animation: rotate3 2s linear infinite;

}
.ring:nth-child(3){
    border-top-width: 8px;
    border-color: #00ff04;
    animation: rotate2 2s linear infinite;

}
.loading{
    color: white;
    font-family: Arial;
}
@keyframes rotate{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}
@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);

    }
}
@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}
 */
#main-footer{
    color: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player{
    
    position: relative;
    
    border-radius: 15px;
    color: #fff;
    
}


.player input{
    width: 300px;
    height: 35px;
    margin-top: 5%;

    position: relative;
    
    
}
.player button {
    width: 100px;
    height: 35px;
    background: white;
    color: green;
    outline: none;
    cursor: pointer;
    border-color: green;
    
   
}
.container2{
    margin-top: 50px;
}
.container2 ul{
    list-style: none;
    width: 400px;
}
.container2 ul li{
    height: 40px;
    line-height: 40px;
    cursor: pointer; 
    font-size: x-large;
    border-bottom: 1px solid rgb(255, 255, 255);
}

